/* CSS Document */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=ZCOOL+XiaoWei&display=swap');


/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: thistle;
}

::-webkit-scrollbar-thumb:hover {
  background: yellowgreen;
}

html {
  scroll-behavior: smooth;
}


body {
  overflow-y: auto;
  background-color: floralwhite;
  margin: 0;
  padding: 0;
}



h1, h2 {
  font-weight: 500;
}

h3, h4 {
  font-weight: 400;
}


.cursor {
  position: fixed;
  width: 32px;
  height: 32px;
  pointer-events: none;
  background-size: cover;
  z-index: 9999;
}

/* 单独指定图片 */
.cursor.me {
  background-image: url('img/icon/me.png');
}

.cursor.tomato {
  background-image: url('img/icon/tomato.png');

}

.cursor.pumpkin {
  background-image: url('img/icon/pumpkin.png');
}

.cursor.cabbage {
  background-image: url('img/icon/cabbage.png');
}

.cursor.garlic {
  background-image: url('img/icon/garlic.png');
}



a:link {
  color: var(--dark);
  text-decoration: none;
}

a:hover {
  color: lightpink;

}


:root {
  --spacel: 4.5%;
  --spacexl: 10%;
  --gradient-colors: #92e66e 0%, #ffc561 15%, lightpink 30%, #6ee0e6ec 45%, #92e66e 57.5%, #ffc561 72.5%, lightpink 87.5%, #6ee0e6ec 100%;
  --fontm: '思源黑体', '思源宋体', Avenir, serif;
  --fontp: "Maven Pro", Work Sans, Avenir, Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", sans-serif, serif;
  --fontp2: "ZCOOL XiaoWei", monospace, sans-serif;
  --dark: #265400ec;
  --line3: 3px solid lightpink;
  --roundcorner: 5px;
  --gradient2: thistle 0%, lightpink 50%, yellowgreen 100%
}



/* Header styles */

.header {
  display: flex;
  justify-content: space-between;
  padding-left: var(--spacel);
  padding-right: var(--spacel);
  padding-bottom: 5px;

  border-top: pink 5px solid;
  padding-top: 0px;
}

.header:hover {
  border-top: yellowgreen 5px solid;
  padding-top: 0px;
  background-color: cornsilk;
  color: lightpink;

}



.title {
  font-size: xx-large;
  font-family: var(--fontp);
}

.title-right {
  display: flex;
  gap: 5%;
  align-items: center
}



.header-btn {
  padding: 5px 20px;
  font-size: medium;
}

.header-btn:hover {
  transform: scale(1.1);
}


.profile {
  background-color: floralwhite;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-top: 1%;
  margin-right: 2%;


  border: 3px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(floralwhite), linear-gradient(to right, var(--gradient2));

}

.profile:hover {

  transform: scale(1.1);

  background-image: linear-gradient(floralwhite), linear-gradient(to right, var(--transparent));
}

.margin-l {
  margin-left: var(--spacel);
  margin-right: 1.5%;
}

.margin-r {
  margin-right: var(--spacel);
}

.link-underline {
  padding-bottom: 3px;
}

.link-underline:hover {
  border-bottom: var(--line3);
  padding: 0px;

}

.link-underline img:hover {
  background-color: lightpink;
  border-radius: var(--roundcorner);
}



.link-outline h1,
.link-outline h2,
.link-outline h3,
.link-outline h4 {
  padding-bottom: 3px;
}


.link-outline h1:hover,
.link-outline h2:hover,
.link-outline h3:hover,
.link-outline h4:hover {
  border-bottom: var(--line3);
  padding: 0px;

}

.link-outline:hover {
  outline: var(--line3);
  outline-offset: 2px;
  border-radius: var(--roundcorner);

}

.link-outline img:hover {
  background-color: lightpink;
  border-radius: var(--roundcorner);
  opacity: 0.9;
}


/* Paragraph styles */


p, h1, h2, h3, h4 {
  font-family: var(--fontp);
  display: inline;
  box-decoration-break: clone;
}

.p2 {
  font-family: var(--fontp2);
}



.img {
  margin: auto;
}

img.icon {
  image-rendering: pixelated;
  width: 32px;
  height: auto;
  justify-content: center;
}

.pixel {
  image-rendering: pixelated;
}



.footer {
  animation: gradientAnimation 120s ease infinite;
  background-image: url("img/gd/sheep.png");
  background-size: 20%;
  padding: 10px 0px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 1%;
  font-size: small;
  text-align: right;
}

.footer:hover {
  background-color: cornsilk;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
  /* 保证两边留空，中间均匀分布 */
  flex-wrap: wrap;
  gap: var(--spacel);
  padding: 0 var(--spacel);

}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.text-centre {
  display: flex;
  margin: auto;
  justify-content: center;
}

.galleries {
  flex: 1 0 calc(21% - 0%);
  min-width: 150px;
  text-align: center;
  border: 3px solid transparent;

  will-change: background-position;
  background-image: linear-gradient(cornsilk), linear-gradient(to top left, var(--gradient-colors));
  animation: gradientAnimation 10s linear infinite reverse;
  background-size: 600% 600%;

  margin: 40px 0px 40px;
  border-radius: 10px;


  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;

}

.galleries.g1 {

  background-image: linear-gradient(cornsilk), linear-gradient(to bottom right, var(--gradient-colors));
  animation: gradientAnimation 10s linear infinite;
  background-size: 600% 600%;
}


.galleries:hover {
  background-image: linear-gradient(to top left, var(--gradient-colors)), linear-gradient(to top left, var(--gradient-colors));
  animation: gradientAnimation 10s linear infinite reverse;
  background-size: 600% 600%;
}


.galleries :hover {
  color: white;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;

}

.galleries:hover .coverimg {

  border-radius: 10px;
  display: block;

  aspect-ratio: 7 / 5;
  image-rendering: pixelated;

}

.galleries:hover .cov {
  display: none;
}




/* Menu styles */
.menu {
  background: linear-gradient(to bottom, var(--gradient2));
  float: left;
  height: auto;
  width: 50px;
  position: fixed;
  opacity: 0.35;
  transition: 200ms ease;
  border-radius: 25px;
  margin-top: 5%;
}


.menu:hover {

  width: 125px;
  opacity: 0.95;
  border-radius: 0 25px 25px 25px;

}

/* Navigation styles */
.nav {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;

}

.navlink:hover {
  color: #fff;
  background-color: var(--dark);
}

.icon {
  width: 100%;
}

.navlink {
  display: flex;
  align-items: center;
  height: 5%;
}

.navlink img {
  min-width: 20px;
  opacity: 1;
}

.menu:hover .text {
  display: block;
}

.text {
  font-family: var(--fontp);
  display: none;
  margin-left: 0px;
  opacity: 1;
  font-size: large;
}

.c {
  background: linear-gradient(to bottom right, yellowgreen 0%, lightsalmon 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  /* height: auto; */
  text-indent: 1em;
  border-top: 10px solid lightpink;

  display: grid;

  grid-template-columns: repeat(3, 1fr);


}



/* C1 styles */
.c1 {

  background-color: transparent;
  border: none;
  /* gap: 15px; */
  padding: 20px;
  display: block;
  border-radius: var(--roundcorner);

}


.c1 img {
  height: auto;
  border-radius: var(--roundcorner);
}


.c2 {

  overflow: hidden;
  display: none;
  padding: 20px;

}

/* Cover image styles */
.coverimg {
  display: none;
  width: 100%;
  height: auto;
  object-fit: fill;


}

.cov {
  opacity: 0.8;
  image-rendering: pixelated;
  margin: auto;
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: var(--roundcorner);

}


/* Iframe styles */
.iframe {
  width: max-content;

  aspect-ratio: 16 / 9;

  border-width: 5px;
  padding: 10px;
  border-radius: 20px;
  border: 5px solid transparent;

  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;

  background-image: linear-gradient(cornsilk), linear-gradient(to right, var(--gradient2));

}



/* Explore styles */
#explore {
  text-align: right;
  padding-right: 60px;
  background-size: 20%;
  margin: 20px 0;

}

/* M styles */
.m {
  margin: 1.5em 0;
}

/* Description styles */
#descript {
  background-color: rgba(255, 255, 255, 0.8);

  padding: 1em;
  margin-top: 2.5%;
  max-width: 55rem;
  border-radius: 10px;

  font-size: medium;
  font-family: var(--fontm);
}

.image-container {
  margin-top: 20px;
  height: auto;
  padding-top: 2.5%;
  border-top: lightpink 5px dashed;


}

.row {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

.row.full {
  grid-template-columns: 1fr;
}

.row.two {
  grid-template-columns: repeat(2, 1fr);
}

.row.four {
  grid-template-columns: repeat(4, 1fr);
}

.row img {
  width: 100%;
  height: auto;
  display: block;
}


/* Video container styles */
.video-container {

  width: 95%;
  height: auto;
  padding-top: 2.5%;
  margin-left: 4%;
  border-top: lightpink 5px dashed;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-grid {
  display: grid;
  gap: var(--spacel);
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  width: 100%;
  max-width: 100vw;
  margin: 30px auto 0px;

}


.category_btn.selected {

  border: 3px solid transparent;
  border-bottom: 5px solid thistle;


  border-radius: 15px 15px 0px 0px;

  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(cornsilk), linear-gradient(to right, var(--gradient2));

}


/* Video player styles */
.video-player {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;

  border: 5px solid transparent;
  border-radius: 15px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(cornsilk), linear-gradient(to right, var(--gradient2));

}

.page {
  justify-content: center;
  display: flex;
  margin: auto;
}

.i3 {
  display: flex;
  margin: 10px;
  padding: 0px var(--spacel);
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--spacel);
  padding: 0 var(--spacel);
}

.category_btn {
  background-color: none;
  border-bottom: 3px solid yellowgreen;
  display: inline-block;
  margin: auto;
  border-top: 3px solid transparent;
  padding: 5px 30px 0px 30px;
}



.category_btn:hover {
  padding: 0px 27px;
  margin-bottom: 5px;
  border: 3px solid transparent;
  border-radius: 15px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(cornsilk), linear-gradient(to right, var(--gradient2));
  outline: floralwhite 3px solid;
  outline-offset: -6px;

}

.block-display {
  display: inline-block;
}

#back {
  margin: 10px 2.5%;

}

#back:hover {
  color: lightpink;

}

.image,
.image-secondary,
.image-secondary img,
.image-secondary video {
  width: 100%;
  aspect-ratio: 3 / 2;

  height: auto;
  object-fit: cover;
  display: block;
  border-radius: var(--roundcorner);
  overflow: hidden;
}

#projects-container section {
  margin-top: 1rem;
}

.image-secondary {
  display: none;

}

.link-outline.proj-content:hover .image {
  display: none;

}

.link-outline.proj-content:hover .image-secondary {
  display: block;

}

@media (max-width: 800px) {
  .link-outline.proj-content {
    display: block;
  }

  .image,
  .image-secondary {
    max-height: 300px;
  }
}


.p5-content {
  margin-top: 20px;
  /* border-top: 5px dashed lightpink; */

}


.proj-content {
  margin-top: 20px;
  border-radius: var(--roundcorner);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.proj-content:hover .proj-text {
  border: none;
  padding: 30px 25px;
}

.proj-text {
  padding: 25px;
  border-top: thistle solid 5px;


}

.image-roundcorner {
  width: 100%;
  height: auto;
  border-radius: var(--roundcorner);
}



/* Media Query for small screens */
@media (min-width: 600px) and (max-width: 1200px) {
  .c1 {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .menu {
    opacity: 50%;

  }

  .video-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .video-item {
    margin-bottom: 0px;
  }

  .unity-content {
    grid-template-columns: repeat(1, 1fr)
  }


  .c1 {
    grid-template-columns: repeat(1, 1fr);
    /* Divide into four equal columns */
  }
}