/* CSS Document */
@charset "UTF-8";

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 10px;

}


::-webkit-scrollbar-track {
  background: #f1f1f1;

}

::-webkit-scrollbar-thumb {

  background: linear-gradient(to bottom, yellowgreen 0%, #6ee0e6ec 100%);

}

::-webkit-scrollbar-thumb:hover {
  /* background:linear-gradient(to  top ,lightpink 0%, #6ee0e6ec 100%); */
  background: linear-gradient(to bottom, #92e66e 0%, #e6c66e 50%, lightpink 100%);

}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
  cursor: none;
  background-color: floralwhite;


  background-image: url("img/sheep.png");
  background-blend-mode: multiply;
  background-size: 35%;
  margin: 0;
  padding: 0;
}

#custom-cursor0 {
  position: fixed;
  width: 32px;
  /* Adjust the width of your cursor image */
  height: 32px;
  /* Adjust the height of your cursor image */
  pointer-events: none;
  /* Ensure the cursor does not interfere with interactions */
  background-image: url('img/me.png');
  /* Set the path to your custom cursor image */
  background-size: cover;
  z-index: 9999;
  /* Ensure the cursor is above other elements */
}

#custom-cursor1 {
  position: fixed;
  width: 32px;
  /* Adjust the width of your cursor image */
  height: 32px;
  /* Adjust the height of your cursor image */
  pointer-events: none;
  /* Ensure the cursor does not interfere with interactions */
  background-image: url('img/icon/tomato.png');
  /* Set the path to your custom cursor image */
  background-size: cover;
  z-index: 9999;
  /* Ensure the cursor is above other elements */
}


#custom-cursor2 {
  position: fixed;
  width: 32px;
  /* Adjust the width of your cursor image */
  height: 32px;
  /* Adjust the height of your cursor image */
  pointer-events: none;
  /* Ensure the cursor does not interfere with interactions */
  background-image: url('img/icon/pumpkin.png');
  /* Set the path to your custom cursor image */
  background-size: cover;
  z-index: 9999;
  /* Ensure the cursor is above other elements */
}

#custom-cursor3 {
  position: fixed;
  width: 32px;
  /* Adjust the width of your cursor image */
  height: 32px;
  /* Adjust the height of your cursor image */
  pointer-events: none;
  /* Ensure the cursor does not interfere with interactions */
  background-image: url('img/icon/cabbage.png');
  /* Set the path to your custom cursor image */
  background-size: cover;
  z-index: 9999;
  /* Ensure the cursor is above other elements */
}

#custom-cursor4 {
  position: fixed;
  width: 32px;
  /* Adjust the width of your cursor image */
  height: 32px;
  /* Adjust the height of your cursor image */
  pointer-events: none;
  /* Ensure the cursor does not interfere with interactions */
  background-image: url('img/icon/garlic.png');
  /* Set the path to your custom cursor image */
  background-size: cover;
  z-index: 9999;
  /* Ensure the cursor is above other elements */
}

:link {
  color: #265400ec;
  text-decoration: none;
}

:visited {
  color: #265400ec;
  text-decoration: none;
}

:link:active, :visited:active {
  color: lightpink;
}

:root {
  --spacel: 5%;
  --spacexl: 10%;
  --gradient-colors: #92e66e 0%, #ffc561 15%, lightpink 30%, #6ee0e6ec 45%, #92e66e 57.5%, #ffc561 72.5%, lightpink 87.5%, #6ee0e6ec 100%;
  --fontm: Poppins, monospace, serif;

}

/* Header styles */
#title {

  padding-left: var(--spacel);
  padding-top: 20px;
  padding-bottom: 20px;


  /* background-color: thistle; */
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  /* background:linear-gradient(to right, #92e66e 0%, #ffc561 35%, lightpink 75%, #6ee0e6ec 100%);
 
  animation: gradientAnimation 10s linear infinite; */
  background: linear-gradient(300deg, #6ee0e6ec, thistle, cornsilk);
  background-size: 200% 200%;
  animation: gradient-animation 15s linear infinite;

  /* border: 5px solid transparent;
  border-radius: 20px; 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(90deg alic 0%, #6ee0e6ec 100%),linear-gradient(to  bottom right， yellowgreen, #6ee0e6ec/#578AEF); 
   */



  font-family: Avenir,var(--fontm);

}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Paragraph styles */
.p {
  font-family: Avenir, "Gill Sans", "Gill Sans MT", "Myriad Pro", monospace, sans-serif, serif;
}

.p2 {
  font-family:  "ZCOOL XiaoWei", monospace, sans-serif;
}

.img {
  margin: auto;
}

/* Page header styles */
.pagehead {

  /* border: 5px solid transparent;
  border-radius: 20px;
  border-top: none;
  border-right: none;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, aliceblue, aliceblue), linear-gradient(165deg, lightpink, yellowgreen, #6ee0e6ec);

  margin-left: 9%;
  padding-left: 5%; */
  padding-left: var(--spacexl);
  padding-top: 5px;
  padding-bottom: 5px;


  /* background-color: thistle; */
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  /* background:linear-gradient(to right, #92e66e 0%, #ffc561 35%, lightpink 75%, #6ee0e6ec 100%);
 
  animation: gradientAnimation 10s linear infinite; */
  background: linear-gradient(300deg, #6ee0e6ec, thistle, cornsilk);
  background-size: 200% 200%;
  animation: gradient-animation 15s linear infinite;

}

/* Home styles */
#home {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

/* Div1 styles */
#div1 {
  background: linear-gradient(to right, var(--gradient-colors));
  animation: gradientAnimation 10s ease infinite;
  background-size: 200% 200%;

}

/* Galleries styles */
.galleries {

  text-align: center;
  float: left;
  background: linear-gradient(to top left, var(--gradient-colors));
  animation: gradientAnimation 10s linear infinite reverse;
  background-size: 600% 600%;

  width: 23%;
  margin: 1%;

  border-radius: 10px;
}

.g1 {

  background: linear-gradient(to bottom right, var(--gradient-colors));
  animation: gradientAnimation 10s linear infinite;
  background-size: 600% 600%;

}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.galleries :hover {
  color: white;
  transform: scale(1.1);

  transition: transform 0.3s ease-in-out;
  /* background:linear-gradient(to left ,lightpink 0%, #6ee0e6ec 100%); */
  border-radius: 5px;
}


.galleries:hover .coverimg {
  display: block;
}

.galleries:hover img {
  display: none;

}

/* Profile styles */
.profile {
  background-color: floralwhite;
  border: 5px none black;
  width: 100px;
  height: 100px;
  float: right;
  border-radius: 50px;
  margin-top: 1%;
  margin-right: 2%;
}



/* G styles */
.g {

  margin-left: 4%;
  margin-right: 4%;

}

/* Menu styles */
.menu {
  /*background-color: lightpink;*/

  background: linear-gradient(to bottom, #FFB6C0 20%, #e6c66e 75%, #92e66e 100%);

  float: left;
  height: 100vh;
  width: 50px;
  position: fixed;
  opacity: 0.75;
  transition: 200ms ease;
  border-radius: 25px;
}

/* Navigation styles */
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navlink:hover {
  color: #fff;
  background-color: #265400ec;
}

.icon {
  width: 100%;
}

.navlink {
  display: flex;
  align-items: center;
  height: 5%;
}

.navlink img {
  min-width: 20px;
  opacity: 1;
}

.text {
  font-family: "ZCOOL XiaoWei", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "Monaco", "Courier New", monospace;
  display: none;
  margin-left: 0px;
  opacity: 1;
}

.menu:hover {
  /*background-color: #FFB6C0;*/

  /* background:linear-gradient(to bottom  ,#FFB6C0 0%,  #e6c66e 100%); */
  background: linear-gradient(to bottom, #FFB6C0 20%, #e6c66e 75%, #92e66e 100%);
  width: 120px;
  opacity: 0.95;

}

.menu:hover .text {
  display: block;
}

.c {
  background: linear-gradient(to bottom right, rgba(153, 205, 50, 0.75), #52a7d8d4 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: var(--spacel);
  height: auto;
  text-indent: 1em;
  border-top: 10px solid lightpink;

}

/* C1 styles */
.c1 {

  width: auto;
  height: 50%;

  display: grid;
  gap: 15px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);

}

.c1 img {
  border-radius: 5px;
}

/* Cover image styles */
.coverimg {
  display: none;
  width: 100%;
  height: auto;
  float: none;
  opacity: 0.5;
}



/* Iframe styles */
.iframe {
  width: 96%;
  height: 650px;
  border-width: 5px;
  border-color: yellowgreen;

  border-top-color: #6ee0e6ec;
  border-right-color: #6ee0e6ec;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
}

.frame {
  height: auto;
  margin-left: 2.5%;
}

/* Explore styles */
#explore {
  text-align: right;
  margin-right: 60px;
}

/* M styles */
.m {
  margin-top: 3em;
}

/* Description styles */
#descript {
  background-color: rgb(255, 255, 255, 0.8);


  padding: 1em;
  margin-top: 2.5%;
  margin-left: var(--spacel);
  margin-right: var(--spacel);
  border-radius: 10px;

  font-size: medium;
  font-family: var(--fontm);
}

/* Video container styles */
.video-container {
  /* background-color: yellowgreen; */
  background: linear-gradient(to bottom right, yellowgreen 0%, #41a2ecc9 100%);
  width: 80%;
  margin-left: 8%;
  margin-top: 30px;

  padding: 2.5%;
  border-radius: 10px;
  border-style: dashed;
  border-color: lightpink;
  border-width: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.video-grid {
  display: grid;
  gap: 15px;
  padding-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  /* Divide into four equal columns */
}

.video-item {
  padding: 10px;
  text-align: center;
  color: #fff;
  align-items: center;
  background-color: lightpink;
  transition: background-color 0.3s;
  margin-bottom: 10px;
  border-radius: 10px;


}

.video-item a {
  color: #fff;
}


.video-item:hover {
  background-color: #6ee0e6ec;
}

.selected {

  background: linear-gradient(to bottom left, #52a7d8 0%, #6ee0e6ec 100%);
  border-radius: 10px;
  border-style: inset;
  border-color: #52a7d8;
  border-width: 5px;
}



/* Video player styles */
.video-player {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border-style: inset;
  border-color: yellowgreen;
  border-bottom-color: #6ee0e6ec;
  border-right-color: #6ee0e6ec;
  border-width: 5px;
}



.section-container {
  gap: 5%;
  margin: 20px;
  margin-left: 8vw;
  justify-content: center;
  display: flex;
  align-items: center;

}


.sections {

  background: linear-gradient(to bottom right, floralwhite 0%, thistle 35%, lightpink 100%);


  border-radius: 30px;
  border-bottom: 5px solid rosybrown;
  padding-left: 30px;
  padding-right: 30px;
  /* padding: 1px; */

  font-size: small;


}



.sections:hover {
  /* background-color: #6ee0e6ec; */
  /* background:linear-gradient(to top right ,lightpink 0%, #6ee0e6ec 100%); */
  background: linear-gradient(to right, lightpink 0%, thistle 50%, #6ee0e6ec 100%);
  border: none;
  margin-top: 5px;

}

.sections a {

  color: #265400ec;
  ;
}

.sections:hover a {
  color: white;
}

.content {
  border-radius: 5px;
}

.p5-title p {
  padding-left: 10%;
}

.unity-content {
  margin-top: 20px;
  margin-left: var(--spacel);
  padding-top: 20px;
  border-radius: 5px;
  border-top: 5px dashed lightpink;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;

}

.unity-content p {
  background-color: rgba(255, 250, 240, 0.6);
  padding: 5px;
}

.unity-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}



/* Media Query for small screens */
@media (min-width: 600px) and (max-width: 1200px) {
  .c1 {
    grid-template-columns: repeat(2, 1fr);
    /* Divide into four equal columns */
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .menu {
    opacity: 50%;

  }

  .video-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .video-item {
    margin-bottom: 0px;
  }

  .unity-content {
    grid-template-columns: repeat(1, 1fr)
  }

  .c1 {
    grid-template-columns: repeat(1, 1fr);
    /* Divide into four equal columns */
  }
}